@charset "utf-8";

/* -------------------------------
   -------------------------------

  Layout

--------------------------------
-------------------------------- */

body {
  color: #111;
  background-color: #fff;
  font-size: 16px;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  line-height: 1.8;
}

/* トップページ、固定ページ、ブログページのコンテンツ部分 */
.front-page-area,
.page-area,
.blog-area {
  min-height: 90vh;
  margin-top: 55px; /* ヘッダーを固定にしたため設定 */
}

.width1900 {
  max-width: 1900px;
}


/* -------------------------------
-------------------------------

  Header

-------------------------------
-------------------------------- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 8px;
  z-index: 777;
  background-color: #fff;
  .container-fluid {
    overflow: auto;
  }
  &::after {
    clear: both;
    display: block;
    content: "";
  }
}

@media screen and (min-width: 650px) {}

.header-brand {
  float: left;
  width: 270px;
  padding-top: 8px;
  font-size: 18px;
  font-weight: normal;
  @include iphoneSE {
    width: 245px;
  }
}

.header-telAndContact-wrap {
  float: right;
}


/* -------------------------------
-------------------------------

  Navigation

-------------------------------
-------------------------------- */

.nav-overlay {
  display: none;
}

.header-nav-menu-wrap {
  display: none;
}


.header-nav-pc {
  float: left;
  width: 500x;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 5px 10px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@include md-less {
  #nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 888;
  }

  .header-nav-menu-wrap {
    display: block;
    position: fixed;
    top: 6px;
    right: 10px;
    width: 60px;
    height: 40px;
    line-height: 1;
    text-align: center;
    z-index: 900;
  }
  .haeder-nav-switchBtn {
    width: 50px;
    height: 50px;
    background: url(image/btnOpen.png) no-repeat 0 0;

  }
  #haeder-nav-switchBtn.btnclose {
    background: url(image/btnClose.png) no-repeat 0 0;

  }
  .header-nav-pc {
    float: none;
    position: fixed;
    top: 53px;
    right: -250px;
    width: 250px;
    margin: 0;
    padding: 20px 0;
    background-color: #333;
    z-index: 900;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: block;
        a {
          display: block;
          padding: 10px 15px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}


.header-contact-wrap {
  float: left;
  width: 130px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: $yellow;
  text-align: center;
  @include md-less {
    display: none;
  }
  @include sm {
    width: 49%;
    font-size: 14px;
  }
  a {
    color: #231815;
    letter-spacing: -0.5px;
  }
}



/* -------------------------------
-------------------------------

  Footer

-------------------------------
-------------------------------- */

footer {
  .footer1-outer {
    padding: 30px 0 30px 0;
    color: #fff;
    background-color: #555;
    font-size: 14px;
  }
  .footer2-outer {
    padding: 10px 0 10px 0;
    color: #fff;
    background-color: #333;
    font-size: 14px;
  }
  h2 {
    font-size: 16px;
  }
  .footer-navi {
    list-style-type: none;
    padding: 0;
  }
  li ul {
    list-style-type: disc;
  }
}



/* -------------------------------
-------------------------------

  404ページ

-------------------------------
-------------------------------- */

.page404 {
  height: 80vh;
  a {
    color: inherit;
  }
}
